body {
    background-color: #111527 ;
    text-align: center;
}

#Title {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 245px;
    font-weight: 700;
    font-family: system-ui;
    color: white;
    font-size: 65px;
}

#subTitle {
    margin-top: 80px;
    font-family: "Yatra One";
    color: rgb(1, 1, 54);
}


img {
    margin-right: auto;
    margin-left: auto;
    width: 12%;
    margin-top: 25px;
    margin-bottom: 25px;
}

#login {
    width: 400px;
    background-color: #1a213d;
    padding-bottom: 25px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    overflow: hidden;
}

#username_label {
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-align: left;
    margin-left: 25px;
    margin-top: 25px;
    display: block;
}

#password_label {
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-align: left;
    margin-left: 25px;
    margin-top: 35px;
    display: block;
}

#username-input {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    border: 1px solid #3a3a4a;
    border-radius: 4px;
    height: 15px;
    width: 82%;
    background-color: rgb(39, 49, 89);
    border-style: solid;
    color:white;
    padding: 12px;
    margin-top:12px;
}

#password-input {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    border: 1px solid #3a3a4a;
    border-radius: 4px;
    height: 15px;
    width: 82%;
    background-color: rgb(39, 49, 89);
    border-style: solid;
    color:white;
    padding: 12px;
    margin-top:12px;
}

#loginButton {
  background-color: rgba(36, 36, 255, 0.322);
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 72%;
  margin-top: 10%;
  font-family:system-ui;
  font-weight: 700;
}